
.divmodal{
    position: fixed;
    z-index: 9000;
margin-top: 170px;
margin-left: 400px;
width: 500px;
height: 400px;
background-color: white;
box-shadow: 2px 3px 3px 3px #0000006e;

}
.cabecera h1{
color: rgb(0, 140, 255);
text-align: center;

}
.cabecera h4{
    color: rgba(22, 23, 24, 0.835);
    text-align: center;
    }

    #cotizar {

        background: rgba(0, 180, 15, 0.74);
        border: 2px solid #f2f2f2;
        color: #fff;
        cursor: pointer;
        font-family: "Roboto";
        font-size: 16px;
        padding: 15px;
        width: 60%;
        margin: auto;
        display: block;
     
    }